# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Debug/
/.vs/
/DeckLinkAPI_h.h
/DeckLinkAPI_i.c
*.sdf
*.opensdf
/ipch/
*.aps
/Release/
